/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}
.icon-btn {
    color: var(--main-color);
    margin-right: 5px;
    background-color: var(--main-bg-color);
}
body {
    display: flex;
    justify-content: center;
}
.div-head {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 58px;
    padding-top: 20px;
}
.logo-container {
    display: flex;
    align-items: center;
    width: 60px;
    height: 20px;
  
}
.logo-link {
    width: 100%;
}
.nav-container {
    display: flex;
    justify-content: space-between;
    justify-content: right;
    width: 100%;
   
}

nav a {
    padding: 25px 20px;
    color: black;
    font-size: 16px;
}


nav a:hover {
    color: #0065FC;
    border-top: 3px #0065FC solid;
}


.txt1 {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400; 
    margin-top: 8px;
    margin-bottom: 20px; 
}
/****** Barre recherche ***********/
.barre-form{
    display: flex;
    height: 49px;
    width: 600px;
    margin-bottom: 32px;
    box-sizing: border-box;
}
.carre-iconmap{
    display: flex;
    justify-content: center;
    width: 50px;
    height: 49px;
    vertical-align: middle;
    border-radius: 15px 0px 0px 15px;
    background: var(--Grey, #F2F2F2);
    border:  solid var(--Grey, #F2F2F2);
    box-sizing: border-box;

}
.icon-map {
    margin: auto;
    color: #000000;
   
    
   
}

input[type=text] {
    height: 49px;
    text-align: left;
    font-size: 18px;
    font-weight: 700;
    padding-left: 17px;
    border: 1px solid var(--Grey, #F2F2F2);
    appearance: auto;
    box-sizing: border-box;
  }
 
input[type=submit] { 
    height: 49px;
    border-radius: 0px 15px 15px 0px;
    border: 1px solid var(--Blue, #0065FC);
    background: var(--Blue, #0065FC);    
    width:  132px;
    cursor: pointer;
    color: var(--White, #FFF);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: absolute;
 
}
.filtre-container {
    display: flex;
    width: 100%;
}
.filters {
    display: flex;
    
    gap: 15px;
}
.search_button{
    border: 1px;
    border-radius: 0px 15px 15px 0px;
    background-color: var(--main-color);
    width: 132px;
    height: 49px;
    color: var(--White, #FFF);
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    position: absolute;
  }
.btn-icon-recherche {
    display: flex;
    display: inline;
    height: 49px;
    border-radius: 0px 15px 15px 0px;
    border: 1px solid var(--Blue, #0065FC);
    background-color: var(--main-color);   
    width:  49px;
    cursor: pointer;
    color: var(--White, #FFF);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: absolute;
   display: none;
}

.search_loupe {
    border: none;
    border-radius: 0 20px 20px 0;
    background-color: var(--main-color);
    width: 49px;
    height: 49px;
    color: var(--backcolor-cards);
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    display: none;
    position: absolute;
  }
.btn-rech {
    display: flex;
    display: inline;
    height: 49px;
    border-radius: 0px 15px 15px 0px;
    border: 1px solid var(--Blue, #0065FC);
    background: var(--Blue, #0065FC);    
    width:  132px;
    cursor: pointer;
    color: var(--White, #FFF);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: absolute;
}
.filtre-container {
    display: flex;
    justify-content: space-around;
    width: 900px;
    height: 50px;
    margin-bottom: 37px;
}
.button {
    display: inline-flex;
    align-items: center;
    border-radius: 25px;
    border: 2px solid var(--grey-tint-2, #D9D9D9);
    padding: 4px 20px;
    width: auto;
    height: 48px;
    background-color: white;
    gap: 12px;
}  

.button:hover{
    background: #DEEBFF;
}
.txt-filtres{
    display: flex;
    padding-top: 12px;
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
   
}
.my-filter {
   
    background-color: white;
    color: black;
    line-height: 100px;
    text-align: center;
    transition: all 1s; /* smooth transition between states */
   }
   
   .my-filter:hover {
    animation: growAndColor 1s forwards;

   }
   
   @keyframes growAndColor {
     0% {
       transform: scale(1);
       background-color: white;
    }
     40% {
       transform: scale(1.2);
       background-color: #DEEBFF;
    }
     100% {
       transform: scale(1.1);
       background-color: #DEEBFF;
    }
   }

   .my-filter:not(:hover) {
    animation: ungrowAndColor 1s forwards;

   }
   
   @keyframes growAndColor {
     0% {
       transform: scale(1);
       background-color: white;
    }
     40% {
       transform: scale(1.2);
       background-color: #DEEBFF;
    }
     100% {
       transform: scale(1.1);
       background-color: #DEEBFF;
    }
   }
.txt-button-filtre {
    color: var(--Black, #000);
    font-family: Raleway;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center; 
 }  

 .info-container {
    display: flex;
    align-items: center;
    gap: 11px;
    margin-bottom: 37px;
 }

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}
.title {
    margin-top: 40px;
    font-size: 18px;
}
.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}
.Activité-card {
    display: flex;
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}
.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
    margin-bottom: 33px;
}

/****** Hebergements ***********/
.hebergements {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    align-items: stretch;
    width: 65%;      
}


   




/****** Populaires ***********/
.populaires {
    width: 32%;
   
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hebrgements-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.hebergements-cards .card {
    display: flex;
    width: 28%;
    flex-direction: row;
    display: inline-block;
    box-sizing: content-box;
    margin-top: 33px;
    margin-inline: 6px;
   justify-content: center;
    
}

/* -----------------SECTION ACTIVITE A MARSEILLE----------------- */

.marseille_activity {

    width: 100%;
    height: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    
  }
  
  .marseille_activity h2 {
    font-size: 22px;
    margin-bottom: 18px;
  }
  
  .card_activity_implementation {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
  }
  
  .card_activity {
    display: flex;
    flex-direction: column;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    width: 23.2%;
    height: 445px;
    background-color: white;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    border-radius: 20px;
  }
  
  .img_activity {
    width: 100%;
    height: 85%;
    object-fit: cover;
    /* object-position: center; */
    border-radius: 20px 20px 0 0;
    
  }
  
  .card_activity p {
    font-size: 16px;
    padding-left: 19px;
    font-weight: 700;
  }
  
  /* ----------------------------------  */
  
.Activités-cards .Activité-card {
    
    width: 300px;
    height: 430px;
    display: inline-block;
    margin-top: 33px;
    margin-inline: 18px;
    
}
.Activités {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    align-items: stretch; 
    gap: 20px; 
  }
  
  
  .Activité-card {
    flex: 1; 
    margin: 5px; 
    max-width: calc(25% - 40px); 
    height: auto; 
  }
  
  
  .Activités-cards img {
    width: 100%; 
    height: auto; 
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

.Activités-cards img {
    display: flex;
    width: 100%;
    height: 380px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    
}
.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.hebergements-cards img {
    width: 100%;
    height: 124px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}
.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}
.hebergements-cards .card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: auto;
    padding-left: 15px;
    box-sizing: border-box;
    
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}
.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}
.Activités-cards .card-title {
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 4px;
}
.populaires-cards .card-subtitle {
    margin: 0;
}
.hebergements-cards .card-subtitle {
    margin: 0;
}
.populaires-cards .card-rating {
    margin-bottom: 5px;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
}

footer {
    display: flex;
    margin-top: 40px;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--Grey, #F2F2F2);
   
}


  
  .footer_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 45px 0 0 70px;
    width: 95%;
   
  }
  
  .list_footer {
    flex: 1;
    margin-right: 30px;
    height: auto;
  }
  
  .list_footer h3 {
    padding-bottom: 20px;
  }
  
  .list_footer ul li {
    margin-bottom: 12px;
  }
  
  .list_footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 18px;
  }
  
  .list_footer li{
    font-size: 16px;
  }
  
  
  .list_footer a {
    text-decoration: none;
    color: black;
  }


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
        
    }

    .hebergements {
      
        width: 100%;
       
    }
    .hebergements-cards .card {
        display: flex;
        width: 28%;
        flex-direction: row;
        display: inline-block;
        box-sizing: content-box;
        margin-top: 33px;
        margin-inline: 6px;
       margin-left: 10px;
       
        
    }
   
    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
    .footer_container {
        display: flex;
        width: 100%;
        height: 500px;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        background-color: var(--background-color);
        margin: 0;
    }
    .filtre-container {
       
        display: flex;
        width: 100%;
        
        }
    
    .filters {
        display: flex;
        flex-wrap: nowrap;
    
       margin-left: 3px; 
       position: relative;
       
    }
    .marseille_activity {
        min-width: 520px;
        margin-top: 0;
        padding-top: 5.8%;
      }
  .card_activity_implementation{    
    display: flex;
    flex-direction: column;
    width: 100%;
   
  }
      .card_activity {
         width: 100%;
        height: 267px;
        margin-bottom: 5%;
      }
  
      .card_activity p{
        margin-top: 3%;
      }
      .img_activity {
          height: 198px;
          
      }
  
      .marseille_activity h2 {
          margin-bottom: 34px;
      }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
    .card {
        width: 100%;
        min-width: fit-content; 
        flex-grow: 1; 
    }
    .hebergements-and-populaires {
        flex-direction: column;
        min-width: 520px;
        
        
    }

    .hebergements {
        width: 100%;
        order: 2;
        background-color: white;
        min-width: 340px;
    }
    .hebergements-cards .card {
        display: flex;
        width: 100%;
        flex-direction: row;
        display: inline-block;
        box-sizing: content-box;
        margin-top: 33px;
        margin-inline: 5.4px;
        min-width: 340px;
        
    }

    .populaires {
        order: 1;
        
        
    }

    .populaires-cards {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-width: 340px;
    }
    .Activités-cards img {
        object-fit: cover;
        max-height: 200px;
    }
    .Activités-cards{
        display: flex;
        width: 100%;
        height: auto;

    }
   
    .populaires-cards a {
        width: 100%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .btn-icon-recherche {
        display: flex;
        display: inline;
        height: 49px;
        border-radius: 0px 15px 15px 0px;
        border: 1px solid var(--Blue, #0065FC);
        background-color: var(--main-color);   
        width:  49px;
        cursor: pointer;
        color: var(--White, #FFF);
        text-align: center;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        position: absolute;
      
    }

      .search_button{
       display: none;
      }
      .filtre-container {
        display: flex;
        width: 250px;
        justify-content: space-around;
        flex-direction: column;
        height: 50px;
        margin-bottom: 100px;
        margin-top: 100px;
        }
        .div-head {
            display: flex;
            justify-content: center;
            flex-direction: column;
            width: 100%;
        }

        .logo-container {
            display: flex;
            justify-content: center;
            width: 100%;
            margin-bottom: 30px;
            margin-top: 10px;
        }
        .logo-link{
            display: flex;
            justify-content: center;
            text-align: center;
            
             
        }
        
        .nav-container {
            display: flex;
            justify-content: space-around;
            margin: 0px;
            width: 100%;
            list-style-type: none;
            padding: 0;
        }
        
        nav {
            display: flex;
            align-items: center;
            width: 100%;
            margin-bottom: 20px;
        }
        
        .link-nav{
            display: flex;
            justify-content: center;
            width: 50%;
            text-align: center;
            color: black;
            font-size: 16px;
            border-bottom: 3px #b1bbcb solid;
            font-weight: 500; 
            
        }
      
        nav a:hover {
            color: #0065FC;
            border-top: none;
            border-bottom: 3px #0065FC solid;
        }

        .barre-form{
            display: flex;
            height: 49px;
            margin-bottom: 32px;
        }


        input[type=text] {
            display: inline-block;
            height: 49px;
            text-align: left;
            font-size: 18px;
            font-weight: 700;
            padding-left: 17px;
            border: 1px solid var(--Grey, #F2F2F2);
            appearance: auto;
            box-sizing: border-box;
           }

           .Activités {
            display: flex;
            flex-direction: column;
            min-width: 520px;
        }
       
        .Activités-cards {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: auto;
            margin-bottom: 10%;
        }
        .Activités-cards .Activité-card {
            display: flex;
            flex-wrap: wrap;
            width: max-content;
            height: auto;    
        }
       footer {
        min-width: 520px;
       }
        .footer_container {
           
            width: 100%;
            height: 501px;
            flex-direction: column;
            flex-wrap: nowrap;
            background-color: var(--background-color);    
        }
    
        .list_footer {
          margin-bottom: 6%;
          
        }
        .filters {
            display: grid;
            grid-template-columns: repeat(2, 1fr); 
            grid-gap: 20px; 
            align-items: center;
            width: 100%; 
        }
        
        .my-filter {
            width: auto; 
            margin: 5px; 
        }
        header {
            min-width: 520px;
        }

        .sec-title1 {
            min-width: 520px;
        }
        .txt1 {
            min-width: 520px;
        }

        .info-container {
            min-width: 520px;
    
        }
        .filtre-container {
            display: flex;
            justify-content: center;
            width: 100%;
            min-width: 520px;
        }
       
}