/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin-top: ;
}
.p-trouver {
    margin-top: 53px; 
    margin-bottom: 8px; 
    color: black; 
    font-size: 22px; 
    font-family: Raleway; 
    font-weight: 700; 
    word-wrap: break-word;
}
.p-centreville {
    margin-bottom: 20px;
    color: black; 
    font-size: 16px; 
    font-family: Raleway; 
    font-weight: 400; 
    word-wrap: break-word;
}
.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}
.card-hebergements {
    width: 100%; 
    height: 100%; 
    background: white; 
    border-radius: 20px;
    
}
.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.logo-container {
    display: flex;
    align-items: center;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    margin: 0px;
}

.nav {
    display: flex;
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
    justify-content: right;
}

.nav li {
    display: inline-block;
}

.nav a {
    padding: 20px 20px;
    color: black;
    font-size: 16px;
    text-decoration: none;
    
}

.nav a:hover {
    color: #0065FC;
    border-top: 3px #0065FC solid;
}

.search-container {
    display:flex ;
    margin-bottom: 46px;
   
}
.button {
    display: inline-flex;
    align-items: center;
    border-radius: 25px;
    border: 2px solid var(--grey-tint-2, #D9D9D9);
    padding: 4px 20px;
    width: 175px;
    height: 48px;
    background-color: white;
    gap: 12px;
}

.button2 {
    display: inline-flex;
    align-items: center;
    border-radius: 25px;
    border: 2px solid var(--grey-tint-2, #D9D9D9);
    padding: 4px 20px;
    width: 226px;
    height: 48px;
    background-color: white;
    gap:5px;
}
.button:hover{
    background: #DEEBFF;
}

.icon {
    
    justify-content: center;
    margin-top: 15px;
    margin-left: 18px;
}

.text {
    
    color: #000;
    text-align: center;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    
}
.search-button {
    border-radius: 0px 15px 15px 0px;
    border: 1px solid var(--Blue, #0065FC);
    background: var(--Blue, #0065FC);    
    width:  132px;
    cursor: pointer;
    
}
.p-but{
color: var(--White, #FFF);
text-align: center;
font-family: Raleway;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin: auto;
}
.rectangle-icon-map {
    width: 50px;
    height: 49px;
    border-radius: 15px 0px 0px 15px;
background: var(--Grey, #F2F2F2);
border: 1px solid var(--Grey, #F2F2F2);
}
.icon-map {
    width: 14px;
    height: 18px;
    
    
}
.icon-container {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-left: 18px;
    
}

.p-search-bar {
    margin-left: 20px; 
    margin-top: 14px;
   
}
.search-bar {
    width: 250px;
    height: 49px;
    border: 1px solid var(--Grey, #F2F2F2);
    color: var(--Black, #000);
text-align: left;
font-family: Raleway;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.filtre-container {
    display: flex;
justify-content: space-around;
width: 950px;
}

.p-filtre {
    color: #000;
    text-align: center;
    
    /* Title/Filter */
    font-family: Raleway;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    width: ;
    border-bottom: 50px;
}
.p-info {
    color: #000;
/* Information */
font-family: Raleway;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-bottom: 50

}

.button-filtre {

border-radius: 25px;
border: 2px solid var(--grey-tint-2, #D9D9D9);
display: inline-flex;
padding: 4px 20px;
align-items: flex-start;
width: 175px;
height: 48px;
background-color: white;
}

.p-filtre {
    position: relative;
    bottom: 4px;
    color: #000;
    text-align: center;
    
    /* Title/Filter */
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    
    height: 24px;
margin-right: 30px;
}
.money-icon {
    height: 22px;
    width: 22px;
    align-content:baseline;
}
.p-button-filtre {
    color: var(--Black, #000);
    font-family: Raleway;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center; 
 }
 .info-container {
    display: flex;
    justify-content: space-between ;
    width: 447px;
    height: 24px;
    justify-content: center;
    align-items: center;
    gap: 11px;
    margin-bottom: 37px;
 }
/*
.rectangle {
    width: 100px;
    height: 50px;
    border: 1px solid black;
    background-color: red;
    border-radius: 5px;
    margin: 10px;
*/
.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.hebergements-cards  {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}
.hebergement-card {
    width: 246px;
    height: 199px;
    display: flex;
    flex-direction:column;
    margin-top: 33px;
    border-radius: 20px;    
    background-color: white;

    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}
.hebergement-card .hebergement-card-content{
    
    height: 38%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;

   
   
    border-radius: 20px;
    background: var(--White, #FFF);
    
}
.hebergement-card img {
    width: 246px;
    height: 62%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}
.main-container{
     ;
}



/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
            }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
     }

    

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}
.hebergements-cards .hebergement-card-title {
    margin-top: 4px;
    margin-bottom: 9px;

}

.hebergements-cards a {
    width: 30%;
}

.hebergements-cards .card-title {
    font-size: 14px;
}

.hebergements-cards .card-subtitle {
    font-size: 13px;
}

.footer {
    width: 100%; 
    height: 100%; 
    background: #F2F2F2;
}


/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}